modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve dist -p 8080 -s"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40182092

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
